<a href="https://colab.research.google.com/github/pablohmoha/Datascience-random-files/blob/master/Copy_of_Solutions_Notebook_Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# 1. Comments, Variables and Printing

## 1. Comments

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1:</font> Explain the following code using a single line comment.

In [0]:
# The following line assigns the value five to the variable tree.
tree = 5

##### <font color="green">Challenge 2:</font> Explain the following code using multiple line comments (using delimiters)

In [0]:
# The following line assigns the sum of 5 and 4 to the variable tree
tree = 5 + 4

##### <font color="green">Challenge 3: </font> Explain the following code using multiple line comments (Using Single line comments)

In [0]:
# The following line assigs the sum 
# of 5 and 5 to the variable tree
tree = 5 + 5

## 2. Variables

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Assign the your last name to the variable last_name.
# ---
# YOUR CODE GOES BELOW
#

last_name = "Mwangi"

# or 

last_name = 'Mwangi'

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Assign your final highschool grade to the variable highschool_grade.
# ---
# YOUR CODE GOES BELOW
#

highschool_grade = "A"

# or 

highschool_grade = 'A'

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# ---
# Question: Assign the dictionary { "brand": "Toyota", "model": "Wish", "year": 2005 } 
# to the variable cars.
# ---
# YOUR CODE GOES BELOW
#

cars = { "brand": "Toyota", "model": "Wish", "year": 2005 }

## 3. Printing

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Using the print function print out your last name
# ---
# YOUR CODE GOES BELOW
# 

last_name = "Mwangi"
print(last_name) 

# or 

print("Mwangi")

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Print out the your full names below seperated by spaces
# ---
# YOUR CODE GOES BELOW
# 

print("Valentine", "Mwangi", sep=" ")

# or 

print("Valentine" + " Mwangi")

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# ---
# Question: Store the values 400 and "Employees" in the variables x and y 
# then print out these two variables.
# ---
# YOUR CODE GOES BELOW
# 

x, y = 400, "Employees"

print(x)
print(y)

# 2. Arithmetic Operators

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Subtract b from a using the above declared variables
# ---
# 
t = a - b
print(t)

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Muplitiply a and b variables
# ---
# 
q = a * b
print(q)

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3 
# ---
# Question: Using the decrement operator to perform a = a - b 
# ---
# 
a-=b
print(a)

# 3. Data Types

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [0]:
# Example 1
# ---
# Dynamically-inferred types
# ---
#
x = 20
print(type(x))
x = '20'
print(type(x))
x = 20.0
print(type(x))

##### <font color="blue">Example 2

In [0]:
# Example 2
# ---
# Manual type-conversion (string to int)
# ---
# 
x = 20
y = '5'
print(x + int(y))

##### <font color="blue">Example 3

In [0]:
# Example 3
# ---
# Automatic type-conversion (int to float)
# ---
#
x = 20
print(type(x))
x += 5.0
print(x), type(x)

##### <font color="blue">Example 4

In [0]:
# Example 4
# ---
# Dividing Integers
# ---
# 
a = 20
b = 5
print(a/b)
print(b/a)

##### <font color="blue">Example 5

In [0]:
# Example 5
# ---
# Forcing float division
# ---
# 
print(float(b/a))
# How can you correct this?

##### <font color="blue">Example 6

In [0]:
# Examaple 6
# ---
# String "arithmetic" (actually concatenation)
# ---
a = 'John '
b = 'Doe'
print(a + b)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Concatenate and print your full names.
# ---
# 
first_name  = "Valentine"
middle_name = "Maina"
last_name   = "Mwangi"

print(first_name + " " + middle_name + " " + last_name)

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Run and correct the following code.
# ---
# 
x = 10
y = 5
print(x + y)

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# ---
# Question: Perform integer division of 199 and 3 with the result being a float.
# ---
# 
print(180/3)

##### <font color="green">Challenge 4</font>

In [0]:
# Challenge 4
# ---
# Question: Concatenate and print your postal address with the City and Country.
# ---
# 
postal_address = "P.O Box 15626 - 00400" + " " + "Nairobi," + " " + "Kenya."
print(postal_address)

# 4. Lists

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Create a list with 10 kenyan towns  
# Towns: Lodwar, Thika, Kitale, Nyeri, Lamu, Naivasha, Nanyuki, Kakamega, Nyahururu, Voi
# ---
# 

kenyan_towns = ["Lodwar", "Thika", "Kitale", "Nyeri", "Lamu", "Naivasha", "Nanyuki", "Kakamega", "Nyahururu", "Voi"]
print(kenyan_towns)

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Add the towm Homabay to the list
# ---
# 
kenyan_towns.append("Homabay")
print(kenyan_towns)

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# ---
# Question: Update the city in the fifth position to Malindi
# ---
# 
kenyan_towns[4] = "Malindi"
print(kenyan_towns)

##### <font color="green">Challenge 4</font>

In [0]:
# Challenge 4
# ---
# Question: Get the city Homabay and Malindi from the kenyan towns list
# ---
# 

# Getting Homabay
# 
homabay = kenyan_towns[10]
print(homabay)


# Getting Malindi
#
malindi = kenyan_towns[4]
print(malindi)

# 5. Conditional (If) Statements

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Find out if t is less than s
# ---
#
s = 10
t = 8

if t < s:
  print("t is less than s")

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Write a program that checks the value of vowel, i.e. a, e, i, o or u 
# then displays whether the entered letter is a vowel.
# ---
# 
vowel = "a"

if vowel == "a" or vowel == "e" or vowel == "i" or vowel == "o" or vowel == "u":
  print("This is letter is vowel!")

# 6. Dictionaries

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Create a dictionary named television then populate it with 
# any values for screen_size, screen_type, manufacturer
# ---
#

television =	{
  'screen_size' : 52,
  'screen_type' : "LCD",
  'manufacturer': "LG"
}

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Add the element date_of_manufacture with value 2018 to the 
# television dictionary 
# ---
#
television['date_of_manufacture'] = 2018

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# Update the element date_of_manufacture with value 2019 in the 
# television dictionary 
# ---
#
television['date_of_manufacture'] = 2019

##### <font color="green">Challenge 4</font>

In [0]:
# Challenge 4
# Access the screen size in the television dictionary above
# ---
#
print(television["screen_size"])

##### <font color="green">Challenge 5</font>

In [0]:
# Challenge 5
# Check whether designer is a key in the television dictionary 
# ---
#
if "designer" in television:
  print("Yes, the keyword exists in the dictionary")
else:
  print('No, the keyword does not exist in the dictionary')

# 7. For Loops

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Iterate through the string "My land is Kenya"
# ---
#
for y in "My land is Kenya":
  print(y)

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Iterate through the given footballers list and stop at "Mariga"
# ---
# 

footballers = ["Oliech", "Kahata", "Yohana", "Matasi", "Mariga", "Wanyama"]

for x in footballers:
  print(x) 
  if x == "Mariga":
    break

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# ---
# Let's print out a word if it doesn't have the letter "e" in the given cakes below
# ---
# 

cakes = ["Blueberry", "Raspberry", "Vanilla", "Chocolate", "Marble", "Apple", "Banana", "Passion"]

for cake in cakes:
  for val in cake:
    if val == "a":
        print(cake) 
    continue
print("The end")

# 8. While Loop

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Iterate through the following list and stop at 8
# ---
# 

a = [1, 2, 4, 12, 1, 2, 3, (5, 6), ['Hello', 'From', 'The'], 8, 'Other', 'Side']

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our a list
no_of_items = len(a) 

# defining our word variable
stop_item = 8


# Performing our iteration, starting from 0 until i is not less than the no_of_items
while i < no_of_items:
  
  # print out the element in the list as per the index
  if stop_item == a[i]:
    
      print("Find the element 8 at position:", i)
    
      break
  
  # incrementing our i by 1
  i += 1

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Question: Create a while loop that prints out the following list 
# skipping the string 'Other' during iteration.
# ---
# 

a = [1, 2, 4, 12, 1, 2, 3, (5, 6), ['Hello', 'From', 'The'], 8, 'Other', 'Side']

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our a list
no_of_items = len(a) 

# defining our word variable
skip_item = 'Other'


# Performing our iteration, starting from 0 until i is not less than the no_of_items
while i < no_of_items:
  
  # print out the element in the list as per the index
  if skip_item != a[i]:
    
      print(a[i])
   
  # incrementing our i by 1
  i += 1

# 9. Functions

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [0]:
# Challenge 1
# ---
# Question: Determine the lowest value in the given array
# ---
#

x = [23, 22, 55, 23, 44]

print(min(x))

##### <font color="green">Challenge 2</font>

In [0]:
# Challenge 2
# ---
# Create function that takes in first_name, middle_name, and last_name 
# as parameters and returns the full name
# ---
#

def fullname(first_name, middle_name):
    
    # concatenating both names
    result = first_name + ' ' + middle_name
    
    return print(result)

fullname("John", "Doe")

##### <font color="green">Challenge 3</font>

In [0]:
# Challenge 3
# ---
# Question: Create a python function that calculates the area of rectangle 
# when the value of the height and width is passed to the function.
# ---
# 

def area_of_rectangle(height, width):
    
    area = height * width
    
    return print(area)
  
area_of_rectangle(5, 2)

##### <font color="green">Challenge 4</font>

In [0]:
# Challenge 4
# ---
# Question: Uberite, a logistics app has a base fare of Ksh. 400. 
# The app charges Ksh. 30 for every 100 meters travelled. 
# Create a python function fare that takes the distance travelled 
# as a parameter and returns the charge.
# ---
# 

def fare(distance):
    
    charge = 400 + (distance / 100) * 30
    
    return print(charge)
  
fare(200)